.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    height: 100vh;
    border-right: 1px solid #000000;
    &__inner-menu {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo-box {
        width: 200px;
    }
    &__logo-img {
        width: 100%;
        object-fit: contain;
    }
    &__nav {
        padding-bottom: 80px;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    &__list-item {
        text-align: center;
        font-size: 1.5rem;
    }
    &__official-btn {
        color: #ffffff;
        background-color: #016fb7;
        padding: 0.8rem;
        border-radius: 8px;
        transition: box-shadow 0.4s ease, transform 0.4s ease;
        &:hover {
            box-shadow: 4px 4px 4px #cccccc;
            transform: translate(-4px, -4px);
        }
    }
}
